@use "../global" as *;

.p-contact-mv__content {
  position: relative;
}

.p-contact-mv__img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

}

.p-contact-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 375;

  @include mq(md) {

    aspect-ratio: 1920 / 686;
  }
}

.p-contact-mv__detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include mq(md) {
    left: rem(40);
    top: 55%;
  }
}

.p-contact-mv__title {
  display: flex;
  flex-direction: column;
}

.p-contact-mv__title-en {
  font-size: rem(24);
  font-family: $second-font-family;
  color: #fff;
  font-weight: 700;
  font-style: italic;

  @include mq(md) {
    font-size: clamp(20px, 2vw, 24px);
  }

  @include mq(lg) {
    font-size: rem(50);
  }
}

.p-contact-mv__title-ja {
  color: #37af32;
  font-weight: 900;
  font-size: rem(64);
  letter-spacing: 0.1em;
  line-height: calc(140 / 100);

  @include mq(md) {
    font-size: clamp(80px, 2vw, 80px);
  }

  @include mq(lg) {
    font-size: rem(100);
  }
}

.p-contact-mv__title-jaSvg {
  display: block;
  width: auto;
  height: 1em;
  overflow: visible;
}

.p-contact-mv__title-jaSvgText {
  fill: currentColor;
  font-family: $base-font-family;
  font-weight: 900;
  letter-spacing: 0.1em;
  filter: url(#contact-title-inner-shadow);
}