@use "../global" as *;

.p-form {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-form__row-wrapper {
  position: relative;
  border-top: 1px solid #ccc;
}

.p-form__dt-wrapper {
  display: flex;
  align-items: center;
  gap: rem(10);
  @include mq(md) {
    padding-top: rem(8);
    width: rem(230);
  }
}

.p-form__dt {
  color: #000;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: rem(17);
  }
}
.p-form__dt span {
  color: $black;
  font-size: rem(14);
}
.p-form__need {
  color: #fff;
  background: #ed1c24;
  font-size: rem(10);
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: rem(4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(55);
  height: rem(22);
  @include mq(md) {
    font-size: rem(14);
  }
}
.p-form__need--black {
  color: $black;
}
.wpcf7-spinner {
  display: none;
}
.p-form__description--radio {
  .wpcf7-list-item-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #222;
    font-size: rem(12);
    letter-spacing: 0.05em;
    font-weight: 700;
    @include mq(md) {
      font-size: rem(18);
    }
  }
  /* デフォルトのボタン */
  input[type="radio"] {
    opacity: 0; /* デフォルトのボタンを非表示 */
    position: absolute;
  }
  /* チェック前のボタン */
  .wpcf7-list-item-label::before {
    background: #fff;
    border: 1px solid #222;
    border-radius: 9999px; /* ラジオボタンっぽく丸くする */
    content: "";
    margin-bottom: auto;
    margin-right: 0.5em;
    margin-top: auto;
    transition: background-color 0.5s;
    width: rem(18);
    height: rem(18);
    @include mq(md) {
      width: rem(20);
      height: rem(20);
    }
  }
  /* チェック後のボタン */
  input[type="radio"]:checked + .wpcf7-list-item-label::before {
    background-color: #ed1c24; /* チェック後の中心の色 */
    box-shadow: inset 0 0 0 5px #fff; /* 中心の色のスタイル */
  }
  .custom-radio {
    display: flex;
    row-gap: rem(18);
    flex-direction: column;
    @include mq(md) {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
.wpcf7-list-item {
  margin-left: initial;
  @include mq(md) {
    margin-right: initial;
  }
}
.p-form__description {
  font-size: rem(14);
  word-wrap: break-word;
  color: $black;
  padding-top: initial;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
    font-size: rem(16);
    line-height: 1.2;
    width: calc(100% - rem(230));
    margin-left: rem(61);
  }
}
.p-form input[type="text"],
.p-form input[type="tel"],
.p-form input[type="email"] {
  width: 100%;
  border: 1px solid #909090;
  font-size: rem(14);
  line-height: 1.2;
  padding: rem(10) rem(12);
  background: #f2f2f2;
  @include mq(md) {
    font-size: rem(17);
    padding-top: rem(13);
    padding-bottom: rem(13);
    padding-left: rem(24);
    padding-right: rem(24);
  }
}
.p-form textarea {
  border: 1px solid #f2f2f2;
  width: 100%;
  height: rem(200);
  font-size: rem(17);
  padding: rem(10) rem(12);
  resize: none;
  background: #f2f2f2;
}
.p-form__btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: rem(40);
  gap: rem(15);
  @include mq(md) {
    gap: rem(10);
    flex-direction: row;
  }

  input[type="submit"],
  button[type="submit"] {
    width: rem(240);
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #e77492;
    border-radius: 9999px;
    background: transparent;
    color: #e77492;
    font-size: rem(16);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #e77492;
      color: #fff;
    }
  }
}

// Contact Form 7の送信ボタン
.wpcf7-submit,
.p-form input[type="submit"],
.p-form button[type="submit"],
.p-form input[type="button"] {
  width: rem(240);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #e77492 !important;
  border-radius: 9999px !important;
  background: transparent !important;
  color: #e77492 !important;
  font-size: rem(16) !important;
  font-weight: 400 !important;
  cursor: pointer;
  transition: all 0.3s ease;

  @include mq(md) {
    margin-top: rem(40);
  }

  &:hover {
    background: #e77492 !important;
    color: #fff !important;
  }
}
.p-form__btn-outside {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  @include mq(md) {
    justify-content: flex-end;
    width: rem(240);
  }
}
.p-form__btn-outside::before {
  position: absolute;
  content: "";
  background: url(../images/common/btn_icon_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  left: rem(6);
  transition: 0.3s ease-in-out;
  aspect-ratio: 12 / 24;
  object-fit: cover;
  height: auto;
  z-index: 1;
  @include mq(md) {
    width: rem(24);
  }
}
.p-form__btn-outside::after {
  position: absolute;
  content: "";
  background: url(../images/common/btn_icon_white_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 12 / 24;
  object-fit: cover;
  height: auto;
  right: rem(6);
  transition: 0.3s ease-in-out;
  z-index: 1;
  @include mq(md) {
    width: rem(24);
  }
}

.p-form__btn input[type="submit"] {
  transition: 0.3s ease-in-out;
  border-radius: 9999px;
  position: relative;
  border: 1px solid #222;
  background: #222;
  font-size: rem(18);
  width: rem(240);
  height: rem(60);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.p-form__btn input[type="submit"]:hover,
.p-form__btn input[type="button"]:hover {
  background: rgba($color: $black, $alpha: 0.3);
  color: $white;
  cursor: pointer;
  border: 1px solid $white;
}

input::placeholder {
  color: rgba($color: $black, $alpha: 0.3);
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(18);
  }
}
.p-form__privacy-wrapper {
  text-align: center;
}

.p-form__privacy-text {
  color: #222;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(18);
  }
}
.p-form__privacy-text a {
  text-decoration: underline;
}

// テーブルベースのフォーム
.p-form__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: rem(40);

  tbody {
    tr {
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
  }
}

.p-form__label {
  background: #fcecf0;
  font-size: rem(16);
  font-weight: 700;
  color: #000;
  text-align: left;
  position: relative;
  width: 100%;
  display: block;
  padding: rem(12);
  border-top: 1px solid #ee819d;
  border-bottom: 1px solid #ee819d;
  @include mq(md) {
    vertical-align: middle;
    width: 24%;
    display: table-cell;
    font-size: rem(17);
    padding-left: rem(20);
    padding-right: rem(20);
    padding-top: initial;
    padding-bottom: initial;
    border-top: initial;
    border-bottom: initial;
  }

  label {
    display: block;
  }
}
.p-form__label span {
  color: #cc0000;
}
.p-form__label::before {
  @include mq(md) {
    position: absolute;
    content: "";
    background: #ee819d;
    width: 100%;
    height: 1px;
    left: 0;
    top: -1px;
  }
}
.p-form__row:last-child .p-form__label::after {
  @include mq(md) {
    position: absolute;
    content: "";
    background: #ee819d;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
  }
}
.p-form__required {
  display: inline-block;
  margin-top: rem(8);
  background: #e74c3c;
  color: #fff;
  font-size: rem(10);
  font-weight: 700;
  padding: rem(4) rem(8);
  border-radius: rem(4);
}

.p-form__field {
  background: #fff;
  flex: 1;
  display: block;
  padding: rem(12);
  @include mq(md) {
    padding: rem(20);
    display: table-cell;
    vertical-align: middle;
    width: 76%;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: rem(17);
    padding: rem(12) rem(15);

    &::placeholder {
      color: #999;
    }
  }
}

.p-form__field--radio,
.p-form__field--checkbox {
  .wpcf7-list-item {
    display: block;
  }

  .wpcf7-list-item-label {
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
    font-size: rem(16);
    width: fit-content;
    @include mq(md) {
      font-size: rem(17);
      width: fit-content;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }

  .wpcf7-list-item-label::before {
    content: "";
    display: inline-block;
    width: rem(16);
    height: rem(16);
    border: 1px solid #999999;
    background: #fff;
    margin-right: rem(8);
    flex-shrink: 0;
  }

  input[type="radio"] + .wpcf7-list-item-label::before {
    border-radius: 9999px;
  }

  input[type="checkbox"] + .wpcf7-list-item-label::before {
    border-radius: rem(4);
  }

  input[type="radio"]:checked + .wpcf7-list-item-label::before {
    border-color: #ee819d;
    background: #ee819d;
    box-shadow: inset 0 0 0 4px #fff;
  }

  input[type="checkbox"]:checked + .wpcf7-list-item-label::before {
    border-color: #ee819d;
    background: #ee819d;
    position: relative;
  }

  input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
    content: "✓";
    position: absolute;
    left: rem(15);
    color: #fff;
    font-size: rem(14);
    font-weight: 700;
  }
}

.p-form__privacy {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
    text-align: center;
  }
}

.p-form__privacy-text {
  line-height: 1.8;
  color: #000;

  @include mq(md) {
    font-size: rem(17);
  }
}

.p-form__privacy-link {
  color: #3366cc;
}
.p-form__field--radio .wpcf7-radio {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(25);
    flex-wrap: wrap;
  }
}
.p-form__field--checkbox {
  padding-top: rem(20);
  padding-bottom: rem(20);
}
.p-form__attention {
  margin-top: rem(12);
}
.p-form__attention-text {
  font-size: rem(14);
  color: #000;
  line-height: 1.8;
}
.p-form__attention-text span {
  color: #cc0000;
  font-weight: 700;
}
.p-thanks__btn-wrapper {
  margin-top: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    margin-top: rem(52);
  }
}
