@use "../global" as *;

.p-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.p-header__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);

  @include mq(lg) {
    padding-top: rem(30);
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.p-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header__nav {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.p-header__nav-lists {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(32);
  }

  @include mq(lg) {
    gap: rem(60);
  }
}

.p-header__nav-list {}

.p-header__nav-link {
  font-size: rem(14);
  color: #fff;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }

  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-header__navigation {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-left: auto;

  @include mq(md) {
    gap: rem(40);
    margin-left: initial;
  }

  @include mq(lg) {
    gap: rem(100);
  }
}

.p-header__logo {}

.p-header__logo-link {
  display: inline-block;
  position: relative;
  width: rem(80);

  @include mq(md) {
    width: rem(120);
  }

  @include mq(lg) {
    width: rem(160);
  }
}

.p-header__logo-link::before {
  position: absolute;
  content: "Recruiting \A Website";
  color: #fff;
  font-family: $second-font-family;
  font-weight: 600;
  line-height: calc(24 / 20);
  left: 0;
  z-index: -1;
  font-size: rem(12);
  bottom: rem(-48);
  @include mq(md) {
    bottom: rem(-72);
    font-size: rem(20);

  }
}

.p-header__logo-link::after {
  position: absolute;
  content: "Heritage in Hands";
  color: #fff;
  background: #37af32;
  font-family: $second-font-family;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  left: 0;
  white-space: nowrap;
  padding-top: rem(4);
  padding-bottom: rem(4);
  z-index: -1;
  font-size: rem(20);
  bottom: rem(-100);
  @include mq(md) {
    bottom: rem(-124);
    font-size: rem(30);
  }
}

.p-header__logo-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-header__breadcrumbs {
  display: flex;
  align-items: center;
  gap: rem(14);
}

.p-header__breadcrumb {}

.p-header__breadcrumb-link {
  font-size: rem(14);
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }

  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-header__breadcrumb-link::before {
  position: absolute;
  content: "";
  background: #222;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}

.p-header__breadcrumb-link--current {
  pointer-events: none;
  cursor: default;
}

.p-header__breadcrumb-link--current::before {
  display: none;
}

.p-header__breadcrumb-icon {
  font-size: rem(14);
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }

  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-header__drawer {}

.p-header__drawer-content {}