@use "../global" as *;

.p-middle-slider {
  @include mq(md) {
    margin-top: rem(100);
  }
  @include mq(lg) {
    margin-top: rem(250);
  }
}

.p-middle-slider__content {
}

.swiper {
}

.slider-middle {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-middle-slider__img {
}
.p-middle-slider__img img {
  aspect-ratio: 1520 / 800;
  object-fit: cover;
  width: 100%;
  height: auto;
}
