@use "../global" as *;

.p-page-mv {
  overflow-x: clip;
}

.p-page-mv__inner {
  padding-left: rem(40);
  padding-right: rem(40);
}

.p-page-mv__content {
  position: relative;
}

.p-page-mv__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.p-page-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 375;

  @include mq(md) {
    aspect-ratio: 1920 / 1080;

  }
}

.p-page-mv__detail {
  position: absolute;
  bottom: rem(20);

  @include mq(md) {
    left: rem(40);
    bottom: rem(70);

  }
}

.p-page-mv__title {
  font-weight: 900;
  color: #37af32;
  letter-spacing: 0.1em;
  font-size: rem(32);
  line-height: calc(164 / 120);

  @include mq(md) {
    line-height: calc(164 / 160);
    font-size: rem(100);
  }

  @include mq(lg) {
    font-size: rem(160);
  }
}

.p-page-mv__detail-row {
  display: flex;
  gap: rem(10);
  flex-direction: column;
  margin-top: rem(20);

  @include mq(md) {
    align-items: flex-end;
    margin-top: initial;
    gap: rem(40);
    margin-top: rem(40);
    flex-direction: row;
  }
}

.p-page-mv__detail-occupation {
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #fff;
  font-size: rem(14);

  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
  }

  @include mq(lg) {
    font-size: rem(16);

  }
}

.p-page-mv__detail-name {
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: rem(16);

  @include mq(md) {
    font-size: clamp(20px, 2vw, 20px);
  }

  @include mq(lg) {
    font-size: rem(30);

  }
}