@use "../global" as *;

.p-recruit-info {
  padding-bottom: rem(60);
  margin-top: rem(-36);
  position: relative;
  z-index: 1;
}
.p-recruit-info__content {
  margin-top: rem(80);
}
.p-recruit-info__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.p-recruit-info__en {
  color: rgba($color: #fff, $alpha: 0.8);
  font-size: rem(50);
  font-family: $second-font-family;
  font-weight: 700;
  font-style: italic;
}
.p-recruit-info__title {
  font-size: rem(100);
  font-weight: 700;
  color: #37af32;
}
.p-recruit-info__tab-item {
  display: flex;
  gap: rem(5);
}

.p-recruit-info__tab-list {
}

.p-recruit-info__tab-btn {
  width: rem(300);
  text-align: center;
  font-size: rem(20);
  font-weight: 700;
  color: #222;
  letter-spacing: 0.06em;
  padding: rem(14);
  border-radius: rem(4);
  background: transparent;
  border: 1px solid #222;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.p-recruit-info__tab-btn:hover {
  background: #f5f5f5;
}

.p-recruit-info__tab-btn[aria-selected="true"] {
  background: #222;
  color: #fff;
}

.p-tab__panel {
  display: block;
}

.p-tab__panel[aria-hidden="true"] {
  display: none;
}
