@use "../global" as *;

.p-recruit-info {
  padding-bottom: rem(60);
  position: relative;
  z-index: 1;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(-36);
  }
}
.p-recruit-info__content {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(60);
  }
  @include mq(lg) {
    margin-top: rem(80);
  }
}
.p-recruit-info__row {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.p-recruit-info__en {
  color: rgba($color: #fff, $alpha: 0.8);
  font-size: rem(24);
  font-family: $second-font-family;
  font-weight: 700;
  font-style: italic;
  @include mq(md) {
    font-size: clamp(24px, 2vw, 32px);
  }
  @include mq(lg) {
    font-size: rem(50);
  }
}
.p-recruit-info__title {
  font-size: rem(32);
  font-weight: 700;
  color: #37af32;
  @include mq(md) {
    font-size: clamp(40px, 2vw, 50px);
  }
  @include mq(lg) {
    font-size: rem(100);
  }
}
.p-recruit-info__tab-item {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  margin-top: rem(24);
  @include mq(md) {
    flex-direction: row;
    margin-top: initial;
  }
}

.p-recruit-info__tab-list {
}

.p-recruit-info__tab-btn {
  text-align: center;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.06em;
  border-radius: rem(4);
  background: transparent;
  border: 1px solid #222;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: rem(200);
  @include mq(md) {
    padding: rem(8);
    font-size: clamp(14px, 2vw, 14px);
    width: rem(240);
  }
  @include mq(lg) {
    padding: rem(14);
    width: rem(300);
    font-size: rem(20);
  }
}

.p-recruit-info__tab-btn:hover {
  background: #f5f5f5;
}

.p-recruit-info__tab-btn[aria-selected="true"] {
  background: #222;
  color: #fff;
}

.p-tab__panel {
  display: block;
}

.p-tab__panel[aria-hidden="true"] {
  display: none;
}
