@use "../global" as *;

.p-top-scroll {
  position: relative;
  z-index: 3;
}

.p-top-scroll__inner {
}

.p-top-scroll__content {
  position: relative;
  min-height: 100vh;
}

.p-top-scroll__block {
  padding-top: rem(20);
  padding-bottom: rem(20);
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(60);
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
  @include mq(lg) {
    gap: rem(120);
  }
}

.p-top-scroll__img {
  @include mq(md) {
    width: 50vw;
    margin-left: calc(50% - 50vw);
    padding-left: rem(20);
  }
}
.p-top-scroll__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(10);
  aspect-ratio: 940 / 720;

  @include mq(md) {
    aspect-ratio: 940 / 1040;
  }
}

.p-top-scroll__detail {
  flex: 1;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
  }
}

.p-top-scroll__title {
  color: #222;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: calc(112 / 80);
  font-size: rem(32);
  @include mq(md) {
    font-size: rem(56);
  }
  @include mq(lg) {
    font-size: rem(80);
  }
}

.p-top-scroll__text {
  margin-top: rem(20);
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    margin-top: rem(40);
    font-size: clamp(14px, 2vw, 16px);
  }
  @include mq(lg) {
    margin-top: rem(60);
    font-size: rem(20);
  }
}
