@use "../global" as *;

.p-top-scroll {
}

.p-top-scroll__inner {
}

.p-top-scroll__content {
  position: relative;
  min-height: 100vh;
}

.p-top-scroll__block {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(60);
  }
  @include mq(lg) {
    gap: rem(120);
  }
}

.p-top-scroll__img {
  margin-left: calc(50% - 50vw);
  padding-left: rem(20);
  width: 50vw;
}
.p-top-scroll__img img {
  aspect-ratio: 940 / 1040;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(10);
}

.p-top-scroll__detail {
  flex: 1;
}

.p-top-scroll__title {
  color: #222;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: calc(112 / 80);
  @include mq(md) {
    font-size: rem(56);
  }
  @include mq(lg) {
    font-size: rem(80);
  }
}

.p-top-scroll__text {
  margin-top: rem(60);
  font-size: rem(20);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    margin-top: rem(40);
    font-size: clamp(14px, 2vw, 16px);
  }
  @include mq(lg) {
    margin-top: rem(60);
    font-size: rem(20);
  }
}
